<!DOCTYPE html>
<html>
<head>
  <title>Ddirt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'defaults', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheets" href="stylesheets/navbar.css">
  <link rel="stylesheets" href="stylesheets/estilosgral.css">
  
</head>
<body>
  <div class="barranavegacion">
    <li><%=link_to "Home", :root , class: "btn btn-primary btn-lg" ,style: "float:right"%></li>
    <%if admin_signed_in?%>
      <li><%=link_to "Registros", users_path , class: "btn btn-primary btn-lg" ,style: "float:right"%></li>
      <li><%=link_to "Causas", crimes_path , class: "btn btn-primary btn-lg" ,style: "float:right"%></li>
      <li><%= link_to "Salir", destroy_admin_session_path, class: "btn btn-default btn-lg" ,method: :get ,style: "float:right"%></li>
    <%else%>
      <li><%=link_to "Iniciar sesión",new_admin_session_path,class: "btn btn-default btn-lg" ,style: "float:right"%></li>
  	<%end%>
  </div>
  </br>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
<%= yield %>

</body>
</html>
